In [1]:
def problem1(file):
    #import pandas library
    import pandas as pd
    #read csv file and create dataframe
    data=pd.read_csv(file,encoding="latin-1")
    #find average of mileages with grouping Purchased column according to each car type and pivot results
    display(data.pivot_table(values="Mileage",index="Type",columns="Purchased",aggfunc="mean"))
    #for each car type find the difference between maximum and minimum Vehichle Age and pivot results
    display(data.pivot_table(values=['Vehicle_Age'],index="Type",aggfunc=lambda g: g.max() - g.min()))

def problem2(file):
    #import pandas library
    import pandas as pd
    #read csv file and create dataframe
    data = pd.read_csv(file,encoding="latin-1")
    #counting the top-10 most frequent Complaint Types
    complaint_type = data['Complaint Type'].value_counts().nlargest(10)
    #calculate the number of unique Agency Names
    agency_name = len(data['Agency Name'].unique())
    
    #print complaint_type
    print(complaint_type.to_string())
    #print unique agency name
    print(f'The number of unique Agency Names:\n{agency_name}')
    #create dataframe from making group Borough having highest number of "Illegal Parking" Complaints
    df=data.groupby(['Borough','Complaint Type']).filter(
    lambda x : (x['Complaint Type'] == 'Illegal Parking').any())
    #print top-5 Borough
    print(df['Borough'].value_counts().nlargest(5).to_string())
    
def problem3(file):
    #import pandas library
    import pandas as pd
    #read csv file and create dataframe
    data = pd.read_csv(file,encoding="latin-1")
    #find the number of unique items
    print('the number of unique Items:',len(data['Item'].unique()))
    #Count transactions according to Item group
    df_sold=data.groupby('Item',as_index=False).count()[['Item','Transaction']]
    #rename Transaction column to Quantity Sold
    df_sold.rename(columns={'Transaction': 'Quantity Sold'}, inplace=True)
    #find 5th of Quantity Sold
    df_sold=df_sold.nlargest(5,'Quantity Sold')
    #set columns as index
    df_sold.set_index('Item','Quantity Sold')
    #Print how many times each item was sold
    print(df_sold.to_string(index=False))
    #Find how many transactions contain Coffee,drop duplicates of transactions group by 'Transaction','Item'
    #if item equals to Coffee , count them
    df=data.drop_duplicates(subset=['Transaction','Item']).groupby(['Transaction','Item']).filter(
    lambda x : (x['Item'] == 'Coffee').any())['Item'].value_counts()
    #print Coffee column
    print('the number of transactions that have Coffee is',df['Coffee'])
    
def problem4(file):
    #import pandas library
    import pandas as pd
    #read csv file and create dataframe
    data = pd.read_csv(file,encoding="latin-1")
    #sum yellow cards according to Teams
    yellow_cards = (data.groupby('Team').agg({'Yellow Cards':'sum'}))
    #find min and maxs of yellow cards of teams
    yc_minmax=yellow_cards.agg({'Yellow Cards':['min','max']})
    minimum = yc_minmax['Yellow Cards']['min']
    maximum = yc_minmax['Yellow Cards']['max']
    #find country of min yellows cards
    yc_min = yellow_cards[yellow_cards['Yellow Cards'].values == minimum].index.values
    #find country of max yellows cards
    yc_max = yellow_cards[yellow_cards['Yellow Cards'].values == maximum].index.values
    #Print the teams that have lowest and highest number of yellow cards
    print('countries that have the minimum number of yellow cards:')
    [print(i) for i in yc_min]
    print('countries that have the maximum number of yellow cards:')
    [print(i) for i in yc_max]
    #create dataframe df for just two columns Team and Shooting Accuracy
    df=data.groupby(['Team','Shooting Accuracy'])['Team','Shooting Accuracy'].head()

    #find the team that has the best shooting accuracy,find max accuracy
    print('the team that has the highest scooring accuracy is',df[df['Shooting Accuracy'] == df['Shooting Accuracy'].max()]['Team'].any())

AutoSurvey.csv contains a sample of data about vehicles owned, whether they were purchased new or used, and other types of data.
Finding average mileage for each car type.
Finding Average of mileages is be grouped into columns as New and Used.
Finding the difference between maximum and minimum Vehichle Age For each car type.

In [2]:
problem1("AutoSurvey.csv")

Purchased            New      Used
Type
Large SUV  130905.000000  185397.0
Mid-size    11424.333333  106810.0
Minivan    180643.000000  182584.0
Small       80405.833333  131022.4
Small SUV   29823.000000  113121.0

           Vehicle_Age
Type
Large SUV         7.00
Mid-size         14.75
Minivan           5.00
Small            11.00
Small SUV        10.00

Printing the top-10 most frequent Complaint Types, the number of unique Agency Names,the top-5 Borough having highest number of "Illegal Parking" Complaints

In [3]:
problem2("/DATA/311-service-requests.csv")

HEATING                   14200
GENERAL CONSTRUCTION       7471
Street Light Condition     7117
DOF Literature Request     5797
PLUMBING                   5373
PAINT - PLASTER            5149
Blocked Driveway           4590
NONCONST                   3998
Street Condition           3473
Illegal Parking            3343
The number of unique Agency Names:
135
BROOKLYN         1147
QUEENS            887
MANHATTAN         640
BRONX             391
STATEN ISLAND     278

“BreadBasket_DMS.csv” file that contains sales informations of a bakery. The colums are: Date,Time,Transaction and Item. Transaction can be thought as the order id.
Printing the number of unique items,how many times each item was sold,How many transactions contain Coffee.

In [4]:
problem3("/DATA/BreadBasket_DMS.csv")

the number of unique Items: 95
   Item  Quantity Sold
 Coffee           5471
  Bread           3325
    Tea           1435
   Cake           1025
 Pastry            856
the number of transactions that have Coffee is 4528

Euro 2012 stats TEAM.csv file contains statistics of the teams that attended Europen Cup 2012.
Finding the teams that have lowest and highest number of yellow cards. 
more than one country can have the same maximum number or minimum number of yellow cards.
Finding the team that has the best shooting accuracy.

In [5]:
problem4("Euro 2012 stats TEAM.csv")

countries that have the minimum number of yellow cards:
Denmark
Germany
countries that have the maximum number of yellow cards:
Italy
the team that has the highest scooring accuracy is Spain